---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";
import { base } from "../../utils/const";
import type { Markdown } from "../../utils/types";

type Props = Markdown;
const {
  frontmatter: { title, description, publishDate },
  url,
}: Props = Astro.props;

const permalink = `${base}/${url}`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <Header />
    <Article title={title} publishDate={publishDate} url={url}>
      <slot />
    </Article>
  </body>
</html>
