---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";
import { base } from "../../utils/const";
import type { Post } from "../../utils/types";

type Props = Post;
const {
  frontmatter: { title, description, publishDate },
  url,
}: Props = Astro.props;

const permalink = `${base}/${url}`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} publishDate={publishDate}>
      <slot />
    </BlogPost>
  </body>
</html>
